
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
	
    overflow: hidden;
}
.background li {
    position: absolute;
    display: grid;
    list-style: none;
    width: 0px;
    height: 0px;
    background: rgba(255, 255, 255, 0);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 42%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 1s;
	
}
.background li:nth-child(1) {
    left: 44%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 5s;
	
}
.background li:nth-child(2) {
    left: 87%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 10s;
	
}
.background li:nth-child(3) {
    left: 84%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 5s;
	
}
.background li:nth-child(4) {
    left: 71%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 11s;
	
}
.background li:nth-child(5) {
    left: 75%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 18s;
	
}
.background li:nth-child(6) {
    left: 59%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 20s;
	
}
.background li:nth-child(7) {
    left: 57%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 21s;
	
}
.background li:nth-child(8) {
    left: 46%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 22s;
	}
.background li:nth-child(9) {
    left: 3%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 22s;
	
}
.background li:nth-child(10) {
    left: 18%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 37s;
	
}
.background li:nth-child(11) {
    left: 21%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 10s;
	
}
.background li:nth-child(12) {
    left: 17%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 22s;
	
}
.background li:nth-child(13) {
    left: 41%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 4s;
	
}
.background li:nth-child(14) {
    left: 6%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 55s;
	
}
.background li:nth-child(15) {
    left: 85%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 28s;
	
}
.background li:nth-child(16) {
    left: 21%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 55s;
	
}
.background li:nth-child(17) {
    left: 15%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 63s;
	
}
.background li:nth-child(18) {
    left: 59%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 74s;
	
}
.background li:nth-child(19) {
    left: 56%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 42s;
	
}
.background li:nth-child(20) {
    left: 38%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 81s;
	
}
.background li:nth-child(21) {
    left: 72%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 33s;
	
}
.background li:nth-child(22) {
    left: 57%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 6s;
	
}
.background li:nth-child(23) {
    left: 34%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 96s;
	
}
.background li:nth-child(24) {
    left: 59%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 1s;
	
}
.background li:nth-child(25) {
    left: 7%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 113s;
	
}
.background li:nth-child(26) {
    left: 22%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 43s;
	
}
.background li:nth-child(27) {
    left: 77%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 45s;
	
}
.background li:nth-child(28) {
    left: 73%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 137s;
	
}
.background li:nth-child(29) {
    left: 74%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 35s;
	
}
.background li:nth-child(30) {
    left: 86%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 136s;
	
}
.background li:nth-child(31) {
    left: 51%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 15s;
	
}
.background li:nth-child(32) {
    left: 4%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 72s;
	
}
.background li:nth-child(33) {
    left: 40%;
    width: 186px;
    height: 186px;
    bottom: -186px;
    animation-delay: 2s;
	
}
.background li:nth-child(34) {
    left: 71%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 99s;
	
}
.background li:nth-child(35) {
    left: 83%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 49s;
	
}
.background li:nth-child(36) {
    left: 80%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 66s;
	
}
.background li:nth-child(37) {
    left: 82%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 33s;
	
}
.background li:nth-child(38) {
    left: 64%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 126s;
	
}
.background li:nth-child(39) {
    left: 45%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 141s;
	
}
.background li:nth-child(40) {
    left: 71%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 87s;
	
}
